.main {
    background-image: linear-gradient(#2b7a7f, #3aafa9);
    height: 100vh;
    width: 100% ;
}
/* Ibrahim Jabbari -- www.ibrahimjabbari.com */
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

.plate {
  width: 410px;
  margin: 10% auto;
}
.shadow {
  color: #17252a;
  font-family: Arvo;
  font-weight: bold;
  
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}
.script {
  font-family: "Seaweed Script";
  color: #17252a;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
}
.script span {
  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #17252a;
}
.text1 {
  font-size: 80px;
}
.text2 {
  font-size: 169px;
}
.text3 {
  font-size: 100px;
}
.scroll-down {
    text-align: center;
    width: 100%;
    display: block;
    color:#def2f1;
    
    
}
.my_icon{
    transition: all .2s ease-in-out;
}
.my_icon:hover {
    transform: scale(1.2);
}